* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contact-container{
    width: 80%;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.contact-wrapper p{
    font-size: 25px;
    color: aquamarine;
}